<div class="card">
  <%= link_to problem, style: "text-decoration: none;" do %>
    <div class="card-body">
      <h5 class="card-title text-dark my-title">
        <%= problem.sentence %>
      </h5>
      <div class="card-subtitle text-muted">
        <%= problem.genre %>
      </div>
    </div>
  <% end %>
</div>