<div class>
  <div class="fs-3">ジャンル別に解く</div>
  <div class="btn-group m-2" role="group">
    <% @genre_sorted_problems.each do |problem| %>
      <% if problem %>
        <%= link_to problem_path(problem) do %>
          <div class="btn btn-outline-success"><%= problem.genre %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-12 border mt-4 mb-4"></div>

<div class="fs-3 mb-2">問題一覧</div>
<%= render Problem.all %>

<%= javascript_pack_tag "problems/md2html" %>